<div class = "container mt-5">
  <h1><%= @restaurant.name %>
    <large>
        <%= link_to edit_restaurant_path do %>
            <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
        <% end %>
    </large>
  </h1>
  <div class = "mt-5">
    <p><em><%= @restaurant.address %></em></p>
    <p><em><%= @restaurant.phone_number %></em></p>
    <p><em><%= @restaurant.category %></em></p>
  </div>
</div>
<div class = "container mt-5">
  <div class = "row">
    <div class = "col align-middle">
      <h1>Reviews on <%= @restaurant.name%></h1>
    </div>
    <div class = "col text-right">
      <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
    </div>
  </div>  
  <div class = "mt-5">
    <ul class="list-group">
      <% @restaurant.reviews.each do |review| %>
        <li class="list-group-item">
          <p><%= review.content %></p>
          <p>Star Rating = <%= review.rating %></p>
            <%= link_to "Remove",
                    review_path(review),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
